<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

<div class="box">


  <% newListItem.forEach(function(item){ %>
    <form action="/delete" method="post">
  <div class="item">
    <input type="checkbox"  name = "checkbox" value="<%= item._id %>" onchange="this.form.submit()">
     <p><%= item.name %></p>
  </div>
  <input type="hidden" name="listName" value="<%=kindOfDay%>"></input>
</form>
    <% })%>

    <form  class="item" action="/" method="post">
      <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="<%=kindOfDay %>">+</button>
    </form>
</div>


<%- include("footer") -%>
